# ─── Server ───────────────────────────────────────────────────────────────────
SERVERNAME=localhost
HTTP_PORT=8080
HTTPS_PORT=8443
PMA_PORT=8081

# ─── Database ─────────────────────────────────────────────────────────────────
DB_ROOT_PASSWORD=rootpassword_kuat
DB_NAME=ojs
DB_USER=ojs
DB_PASSWORD=ojspassword_kuat

# ─── OJS ──────────────────────────────────────────────────────────────────────
# Set 1 untuk instalasi otomatis via CLI (eksperimental)
OJS_CLI_INSTALL=0
